# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

[*.{js,jsx,ts,tsx,css,scss}]
indent_size = 4

[{package.json,tsconfig.json,.eslintrc.json,next.config.js}]
indent_size = 2
