@import "globals.scss";

h1 {
    padding: 0;
}

.content {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;

    img {
        object-fit: cover;
        width: 100%;
        max-height: 50%;
    }
}

.buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5em;
}

#page3 {
    @extend .content;
    grid-template-rows: 15fr 1fr;

    justify-content: center;
    align-items: center;
}
